<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">

<head>
  <meta charset=""UTF-8>
  <title>New user</title>
</head>
<body>

 <form th:method="POST" th:action="@{/addNewUser}" th:object="${user}">
   <label for="name">Name: </label>
   <input type="text" th:field="*{firstName}" id="name">
   <br>
   <br>
   <label for="lastname">Last name: </label>
   <input type="text" th:field="*{lastName}" id="lastname">
   <br>
   <br>
   <label for="email">Email: </label>
   <input type="text" th:field="*{email}" id="email">
   <br>
   <br>
   <input type="submit" value="Create">
 </form>




</body>
</html>